@import 'helpers/rwd';

#shop{
  .content{
    margin: 20px 1% 0 250px;
    border: 1px solid teal;
    box-sizing: border-box;
    padding: 30px 20px 50px;
    h2.path{
      font-family: 'Nunito', sans-serif;
      font-size: 16px;
      letter-spacing: 1px;
      margin-bottom: 20px;
      margin-left: 10px;
    }
    ul.product{
      display: flex;
      flex-wrap: wrap;
      font-family: 'Nunito', sans-serif;
      li{
        padding: 10px 20px 80px;
        width: 33.33333%;
        height: 380px;
        cursor: pointer;
        @include rwd(mobile) {
          width: 100%;
          height: 600px;
        }
        // @include rwd(phone) {
        //   width: 100%;
        // }
        &:hover{
          div{
            img.hoverImg{
              visibility: visible;
              filter: opacity(1);
            }
          }
        }
        div{
          height: 100%;
          width: 100%;
          // background-color: rgb(241, 186, 83);
          position: relative;
          img{
            object-fit: cover;
            height: 100%;
            width: 100%;
            transition: all .5s ease;
            &.hoverImg{
              position: absolute;
              left: 0;
              top: 0;
              visibility: hidden;
              filter: opacity(0);
            }
          }
          .mask{
            background: rgba(150, 147, 147, 0.1);
            position: absolute;
            top: 0;
            left: 0;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
            display: none;
            i{
              margin-right: 15px;
              margin-bottom: 10px;
              color: whitesmoke;
              &:nth-child(2){
                margin-bottom: 15px
              }
            }
          }
        }
        &:hover{
          .mask{
            display: flex;
          }
        }
        h3, p{
          font-weight: 500;
          text-align: center;
          margin-top: 10px;
          letter-spacing: 1.5px;
          font-size: 14px;
          color: #222222;
        }
        p{
          letter-spacing: 1px;
          margin-top: 5px;
          font-size: 12px;
        }
      }
    }
    h3.noProducts{
      height: 23vh;
      font-weight: 600;
      margin-left: 20px;
      padding-top: 30px;
      box-sizing: border-box;
      letter-spacing: 1px;
      color: teal;
    }
    @include rwd(phone) {
      margin-left: 20px;
    }
  }
  .modal{
    .modal-dialog{
      width: 100%;
      .modal-content{
        border-radius: 0;
        box-shadow: 0 2px 4px #666666;
        position: relative;
        div.modal-self{
          padding: 40px 30px;
          display: flex;
          .close{
            position: absolute;
            top: 10px; 
            right: 20px;
            font-weight: normal;
            font-size: 30px;
            transform: scaleY(0.9);
            cursor: pointer;
          }
          div.imageWrap{
            position: relative;
            img{
              display: inline-block;
              object-fit: cover;
              width: 400px;
              height: 450px;
              &.hoverImg{
                position: absolute;
                left: 0;
                top: 0;
                visibility: hidden;
                filter: opacity(0);
                transition: all .5s;
              }
            }
            &:hover .hoverImg{
              visibility: visible;
              filter: opacity(1);
            }
          }
          ul.itemInfo{
            margin-left: 50px;
            li{
              font-family: 'Nunito', sans-serif;
              letter-spacing: 1px;
              margin-top: 10px;
              font-weight: 500;
              h2{
                font-size: 20px;
                color: #222222;
                border-bottom: 2px solid tan;
                padding-bottom: 10px;
                padding-left: 5px;
                letter-spacing: 2px;
                line-height: 30px;
              }
              h4{
                margin-top: 30px;
                font-weight: 400;
                line-height: 30px;
              }
              &.origin{
                text-decoration: line-through;
                font-style: italic;
                font-size: 14px;
                margin-top: 30px;
              }
              &.final{
                font-weight: 600;
                font-size: 20px;
                margin-top: 20px;
                color: rgb(0, 128, 90);
              }
              div.form-control{
                border: none;
                margin-top: 50px;
                padding-left: 0;
                padding-right: 0;
                button{
                  &.less, &.plus{
                    border: 1px solid #BDBDBD;
                    height: 30px;
                    &:focus{
                      box-shadow: none;
                    }
                    i{
                      transform: translateY(-3px);
                      font-size: 14px;
                      color: #444444;
                    }
                  }
                  &.less{
                    border-radius: 5px 0px 0px 5px;
                  }
                  &.plus{
                    border-radius: 0px 5px 5px 0px;
                  }
                  &.commit{
                    margin-top: 30px;
                    border-radius: 0;
                    padding: 4px 10px;
                    letter-spacing: 1px;
                    font-size: 14px;
                    &:hover{
                      color: white;
                    }
                  }
                }
                input{
                  border: 1px solid #BDBDBD;
                  border-left: none;
                  border-right: none;
                  outline: none;
                  height: 30px;
                  width: 150px;
                  transform: translateY(1px);
                  padding-left: 10px;
                  font-size: 14px;
                  color: #666666;
                }
                input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
                  -webkit-appearance: none !important;
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  @include rwd(mobile) {
    .modal{
      left: 0px;
      top: 10px;
      .modal-dialog{
        .modal-content{
          height: 85vh;
          width: 70vw;
          overflow-y: auto;
          div.modal-self{
            flex-direction: column;
            div.imageWrap{
              text-align: center;
              margin-bottom: 40px;
              img{
                &.hoverImg{
                  left: 0;
                  right: 0;
                  margin: 0 auto;
                }
              }
            }
            ul.itemInfo{
              li{
                div.form-control{
                  button.commit{
                    margin-top: 0;
                    margin-left: 50px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @include rwd(phone) {
    .modal{
      top: 80px;
      .modal-dialog{
        .modal-content{
          height: 80vh;
          width: 95vw;
          margin: 0 auto;
          div.modal-self{
            flex-direction: column;
            padding: 60px 10px;
            div.imageWrap{
              text-align: center;
              margin-bottom: 40px;
              img{
                width: 300px;
                height: 350px;
              }
            }
            ul.itemInfo{
              margin: 0;
              padding: 0 10px;
              li{
                div.form-control{
                  input{
                    width: 70%;
                  }
                  button.commit{
                    margin: 30px 0 60px 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}